<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>
          <i class="fa fa-user"></i> Configuracion
        </h1>
      </div>
    </div>
  </div>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/" class="btn btn-light btn-block">
          <i class="fas fa-arrow-left"></i> Regresar al inicio
        </a>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block" type="button" (click)="guardar()">
          <i class="fas fa-check"></i> Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</section>

<section id="configuracion">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Editar configuracion</h4>
          </div>
          <div class="card-body">
            <fieldset class="form-group">
              <legend>Permitir Registro de Usuarios</legend>
              <div class="form-check">
                <label for="" class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="permitirRegistro"
                    [(ngModel)]="permitirRegistro"
                    [checked]="permitirRegistro"
                  /> {{permitirRegistro?"Si":"No"}}
                </label>
              </div>
            </fieldset>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</section>